.left-panel{
    margin: 2px 0 2px 2px;
    height: 100vh;
    width: 100%;
    float: left;
    overflow: scroll;
    cursor: pointer;
    background-color: #EBEEF3;
    user-select: none;
}

#tree-container{
    margin-top: 30px;
}